:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #c4c4c4;
    --color-button: #fe652b;
    --color-button-hover: #3020e5;
    --color-button-hover-2: #ff9b10;
    --color-text: #100101;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: var(--color-button-hover-2);
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: var(--color-primary);
    border-color: #fe652b;
    border-style: double;
    border-radius: 10px;
    border-width: 10px;
    padding: 15px;
    font-size: 22px;
    font-family: comic 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 20px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}

#borrar.button-draw{
    color: black;
    background-color: #f6ea12;
}

#borrar.button-draw:hover{
    background-color: #6d1991;
    color: var(--color-white);
}

#borrar.button-draw:disabled{
    background-color: gray;
    color: white;
    cursor: not-allowed;
}

#sortear.button-draw:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed; /* Cambia el cursor para indicar que no se puede hacer clic */
}

#añadir.button-add:disabled {
    background-color: gray;
    color: white;
    cursor: not-allowed; /* Cambia el cursor para indicar que no se puede hacer clic */
}

/* Accion de lanzar papelitos al anunciar ganador */
#papelitosContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que no interfiera con los clics */
    overflow: hidden; /* Para ocultar papelitos que se salgan del contenedor */
}

.papelito {
    position: absolute;
    width: 10px; /* Ancho del papelito */
    height: 10px; /* Alto del papelito */
    background-color: red; /* Color del papelito */
    opacity: 0.8;
    border-radius: 50%; /* Forma redonda */
    animation: caer 2s forwards; /* Animación de caída */
}

@keyframes caer {
    to {
        transform: translateY(100vh); /* Caer hasta el fondo de la pantalla */
        opacity: 0; /* Desvanecerse al caer */
    }
}